@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&family=Ubuntu:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  margin: 0;
}

.home-content h3 {
  position: relative;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0;
  font-family: "Pacifico", cursive;
  margin-bottom: 10px;
}

.skills h3 {
  font-family: "Pacifico", cursive;
}

section .who {
  font-family: "Pacifico", cursive;
}

.navbar {
  height: 10vh;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  z-index: 999;
  position: fixed;
}

.navbar ul {
  margin-left: 150px;
}

.navbar ul li a {
  color: #fff;
  margin-left: 100px;
  font-size: 20px;
  font-weight: 900;
}

.navbar ul li a:hover {
  color: crimson;
  transition: all 0.3s ease;
}

.navbar-brand {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  margin-left: 100px;
}

.navbar-brand span {
  color: crimson;
}

.max-width {
  padding: 0 80px;
}

.navbar-toggler {
  color: #fff;
}

.navbar .max-width {
  max-width: 1300px;
}

.nav-item {
  color: #fff;
}

.navbar.sticky {
  background-color: rgba(220, 20, 60, 0.747);
  transition: 0.9s;
}

.navbar.sticky .navbar-brand {
  color: black;
  transition: 0.9s;
}

.navbar.sticky .navbar-brand span {
  color: #fff;
  transition: 0.9s;
}

.navbar.sticky ul li a:hover {
  color: black;
}

@media (max-width: 991px) {
  .navbar-brand {
    margin-left: 0px;
  }
  .navbar ul {
    text-align: center;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.671);
  }
  .navbar li {
    margin-right: 100px;
  }

  .navbar li a:hover {
    color: crimson;
  }

  .navbar.sticky ul li a:hover {
    color: crimson;
  }
}

.developer {
  font-family: "Pacifico", cursive;
  color: crimson;
  font-size: 40px;
}

.home {
  background: url("Picsart_22-04-09_14-14-04-138.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0 200px;
  display: grid;
  align-items: center;
  color: #fff;
}

.home-content .text-1 {
  font-size: 27px;
}

.home-content .text-2 {
  font-size: 75px;
  font-weight: 500;
  margin-left: -3px;
}

.home-content .text-3 {
  font-size: 42px;
  font-weight: 600;
}

.home-content .text-3 span {
  font-size: 44px;
  font-weight: 900;
  color: crimson;
}

.home-content button {
  display: inline-block;
  background-color: crimson;
  padding: 13px;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 20px;
  /* font-weight: 600; */
  padding: 12px 26px;
  border: 2px solid crimson;
}

.home-content button a {
  color: #fff;
  text-decoration: none;
}

.home-content button:hover {
  background-color: transparent;
  transition: all 0.5s ease;
}
.home-content button:hover a {
  color: crimson;
  transition: all 0.5s ease;
}

@media (max-width: 776px) {
  .home {
    padding: 0 30px;
    text-align: center;
  }
  .home-content .text-1 {
    font-size: 20px;
  }
  .home-content .text-2 {
    font-size: 40px;
  }
  .home-content .text-3 {
    font-size: 25px;
  }
  .home-content .text-3 span {
    font-size: 40px;
  }
}

/* about section  */

.about {
  margin: 100px 0 0 0;
  background-color: rgba(220, 20, 60, 0.116);
}
.content .row {
  display: flex;
  justify-content: space-between;
}

.about .text {
  font-size: 30px;
  font-weight: 500;
}

.who {
  text-align: center;
}

.who span {
  color: crimson;
}

.content {
  padding: 50px 0;
}

.about .container {
  margin-left: 15%;
}

.about .button {
  text-align: center;
}

.about .row {
  margin-bottom: 50px;
}

.aboutimg {
  height: 35vh;
  border-radius: 10%;
  /* margin-left: 500px; */
}

.content .heading span {
  color: crimson;
  font-weight: 800;
}

.content .para {
  font-size: 18px;
}

.resume {
  background-color: crimson;
  padding: 13px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid crimson;
}

.resume a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.resume:hover {
  background-color: #fff;
}
.resume:hover a {
  color: crimson;
}

.content {
  margin: 10px;
}

@media (max-width: 768px) {
  .aboutimg {
    height: 35vh;
    margin-bottom: 20px;
    border-radius: 10px;
    border-radius: 10%;
    width: 100vw;
  }
  .about .container {
    text-align: center;
    margin-left: 0;
  }
  .content .resume {
    background-color: crimson;
    color: #fff;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    border: 2px solid crimson;
  }
}

/* skills  */
.skills {
  background-color: rgba(250, 235, 215, 0.678);
}

.who {
  text-align: center;
}

.who span {
  color: crimson;
  font-weight: 500;
}

.skill-content {
  margin-top: 3%;
}

.skills .skill-content .left .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skill-content p {
  font-weight: 600;
  letter-spacing: 3px;
  word-spacing: 3px;
  color: #111;
}

.skill-content p span {
  color: crimson;
  font-weight: bolder;
}

.skills .skill-content .right .bars {
  margin-bottom: 15px;
}

.skills .skill-content .right .bars .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills .right span {
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(250, 235, 215, 0.678);
}

.skills .skill-content .right .line {
  height: 5px;
  width: 100%;
  background-color: lightgray;
  position: relative;
}

.skills .skill-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}

.skill-content .right .html::before {
  width: 90%;
}
.skill-content .right .css::before {
  width: 80%;
}
.skill-content .right .bootstrap::before {
  width: 75%;
}
.skill-content .right .javascript::before {
  width: 80%;
}
.skill-content .right .mongodb::before {
  width: 85%;
}
.skill-content .right .nodejs::before {
  width: 60%;
}

/* project section  */
.project {
  background-color: #111;
  text-align: center;
}

.project .card {
  background-color: #111;
  height: fit-content;
  border-radius: 10px;
  border: 2px solid crimson;
  word-break: break-all;
}

.card.shadow {
  box-shadow: 2px 2px 10px crimson;
}

.project img {
  border-radius: 10px;
}

.project a {
  color: crimson;
  font-size: 28px;
  font-weight: bolder;
  font-family: "Pacifico", cursive;
}

.project .home-content {
  margin: 50px 0;
  color: #fff;
}

/* contact section  */

.contact .home-content {
  margin-bottom: 50px;
}

.contact {
  background-color: rgba(220, 20, 60, 0.116);
}

.contact .logo {
  height: 50px;
  width: 50px;
}

.contact .con {
  margin-bottom: 20px;
}

.contact .svg {
  height: 100px;
  width: 50px;
}

.contact-logo {
  height: 50px;
  width: 50px;
  color: aqua;
}

.add {
  display: flex;
  margin-bottom: 50px;
}

.add span {
  font-weight: 500;
  font-size: 20px;
  margin-top: 5px;
  color: crimson;
}

.add span {
  margin-bottom: 10px;
  margin-left: 50px;
}

.con {
  display: flex;
}

.con span {
  margin-left: 50px;
  font-size: 20px;
}

.con span a {
  color: crimson;
}

@media (max-width: 570px) {
  .add span {
    margin-bottom: 10px;
    margin-left: 0;
  }
  .con span {
    margin-left: 5px;
    font-size: 20px;
  }
}

.scroll-up-btn {
  opacity: 0;
  position: fixed;
  height: 30px;
  width: 30px;
  fill: crimson;
  right: 30px;
  bottom: 30px;
}

.scroll-up-btn.scroll-none {
  opacity: 1;
}
svg {
  fill: crimson;
}

svg:hover {
  fill: rgba(220, 20, 60, 0.445);
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

footer {
  background-color: #111;
  color: crimson;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
