@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&family=Ubuntu:wght@400;500;700&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.navbar{
    height: 10vh;
    width: 100%;
    /* background-color: crimson; */
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    /* display: flex; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    position: fixed;
    /* padding: 30px 0 ; */

}

.navbar ul li a{
    color: #fff;
    margin-left: 100px;
    font-size: 20px;
    font-weight: 900;
}

.navbar ul li a:hover{
    color: crimson;
    transition: all 0.3s ease;
}

.navbar-brand{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin: 0 auto;
     margin-left: 100px;
}

.navbar-brand span{
    color: crimson;
}

.max-width{
    padding: 0 80px;
}

.navbar-toggler{
    color: #fff;
}
/* 
.navbar ul{
    margin-left: 500px;
} */

.navbar .max-width{
    max-width: 1300px;
    /* display: flex; */
    /* justify-content: space-between; */
}

.nav-item{
    color: #fff;
}

.navbar.sticky{
    background-color: rgba(220, 20, 60, 0.747);
    transition:  0.9s ;
}

.navbar.sticky .navbar-brand  {
    color: black;
    transition:  0.9s ;
}

.navbar.sticky .navbar-brand span{
    color: #fff;
    transition:  0.9s ;
}

.navbar.sticky ul li a:hover{
    color: black;
}

@media (max-width: 991px){
    .navbar-brand{
        margin-left: 0px;
    }
    .navbar ul{
        padding: 100px;
        /* height:fit-content; */
        /* width:100vw; */
        background-color: rgba(0, 0, 0, 0.671);
        /* background-size: cover; */
        /* padding-left: 100px; */
    }
    .navbar li{
        /* margin: 0 auto; */
        /* margin-top: 50px; */
        margin-right: 100px;
    }

    .navbar li a:hover{
        color: crimson;
    }

    .navbar.sticky ul li a:hover{
        color: crimson;
    }
}

.home{
    background: url('banner.jpg') no-repeat ;
    background-size: cover;
    height: 100vh;
    padding: 0 200px ;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #fff;
}

.home-content{
    font-family: 'Ubuntu', sans-serif;
}

.home-content .text-1{
    font-size: 27px;
}

.home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}

.home-content .text-3{
    font-size: 42px;
}

.home-content .text-3 span{
    font-size: 44px;
    font-weight: 900;
    color: crimson;
}

.home .home-content button{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 26px;
    margin-top: 20px;
    /* margin: 0 auto; */
    border-radius: 6px;
    border: 2px solid crimson;
}

.home .home-content button:hover{
    color: crimson;
    background: none;
    transition: all 0.5s ease;
}




@media (max-width: 776px){
    .home{
        padding: 0 30px;
        text-align: center;
    }
    .home-content .text-1{
        font-size: 20px;
    }
    .home-content .text-2{
        font-size: 40px;
        /* margin-left: -60px; */
    }
    .home-content .text-3{
        font-size: 25px;
    }
    .home-content .text-3 span{
        font-size: 50px;
        /* margin-left: -20px; */
    }

}




                                /* about section  */

.about{
    margin: 100px 0 0 0 ;
}
.content .row{
    display: flex;
    justify-content: space-between;
}

.about .aboutme{
    position: relative;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
    font-family: 'Ubuntu', sans-serif;
}

.who{
    text-align: center;
}

.who span{
    color: crimson;
    font-family: 'Ubuntu', sans-serif;
}

.content{
    padding: 50px 0;
}

.about .container{
    text-align: center;
    margin-left: 15%;
}


.aboutimg{
    height: 35vh;
    border-radius: 10%;
    width: 70%;
}

.content .heading span{
    color: crimson;
    font-weight: 800;
}

.content .para{
    font-size: 18px;
}

.content .resume{
    /* margin-left: 8%; */
    /* margin: 0 auto; */
    background-color: crimson;
    color: #fff;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    border: 2px solid crimson;
}

.content .resume:hover{
    background-color: #fff;
    color: crimson;
    transition: all 0.3s ease-out;
}

.content {
    margin: 10px;
}


@media (max-width: 768px){
    .aboutimg{
        height: 40vh;
        margin-bottom: 20px;
        border-radius: 10px;
        /* margin: 20px 25% ; */
        border-radius: 10%;
        width: 50vw;
    }
    .about .container{
        text-align: center;
        margin-left: 0;
    }
    .content .resume{
        /* margin-left: 30%; */
        /* margin: 0 auto; */
        background-color: crimson;
        color: #fff;
        height: 50px;
        font-size: 20px;
        font-weight: 500;
        border-radius: 10px;
        border: 2px solid crimson;
    }
}


                                            /* skills  */
.skills{
    /* margin: 100px 0 0 0 ; */
    background-color: rgba(250, 235, 215, 0.678);
}

.skills .aboutme{
    position: relative;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
    font-family: 'Ubuntu', sans-serif;
}

.who{
    text-align: center;
}

.who span{
    color: crimson;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}

/* .skills .skill-content .col{
    width: calc(50% - 30px);
} */

.skill-content{
    margin-top: 3%;
}

.skills .skill-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skill-content p{
    font-weight: 600;
    letter-spacing: 3px;
    word-spacing: 3px;
    color: #111;
}

.skill-content p span{
    color: crimson;
}

.skills .skill-content .right .bars{
    margin-bottom: 15px;
}

.skills .skill-content .right .bars .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills .right{
    /* margin-top: 10%; */
}

.skills .right span{
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(250, 235, 215, 0.678);
}

.skills .skill-content .right .line{
    height: 5px;
    width: 100%;
    background-color: lightgray;
    position: relative;
}

.skills .skill-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    /* width: 80%; */
    left: 0;
    top: 0;
    background: crimson;
}

.skill-content .right .html::before{
    width: 90%;
}
.skill-content .right .css::before{
    width: 80%;
}
.skill-content .right .bootstrap::before{
    width: 75%;
}
.skill-content .right .javascript::before{
    width: 80%;
}
.skill-content .right .mongodb::before{
    width: 85%;
}
.skill-content .right .nodejs::before{
    width: 60%;
}

                /* project section  */

.projects{
    /* margin: 100px 0 0 0 ; */
    height: 90vh;
}

.projects .myprojects{
    position: relative;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.projects .who{
    color: #fff;
}

    /* carousel projects  */
/* .projects .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
}

.projects .carousel .card img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid crimson;
} */

.carousel{
    margin-top: 100px;
    height: 50%;
    width: 50%;
}

.carousel img{
    height:500px;
    width: 100%;
    border-radius: 10px;
}

.projects .home-content{
    margin: 50px 0;
    color: #fff;
}

.projects{
    background: #111;
}

.carousel-item h3{
    color: crimson;
    font-weight: 600;
    background-color: #111;
    border-radius: 10px;
}

.carousel-caption{
    background-color: #111;
    border-radius: 10px;
}

.carousel-item h3 a{
    color: crimson;
    font-weight: 600;
    background-color: #111;
    border-radius: 10px;
}

.carousel-item h3 a:hover{
    color: #fff;
    transition: 0.3s;
}

.carousel-item p{
    color: #fff;
    font-weight: 500;
}

.carousel-control-prev{
    background-color: #111;
}

.carousel-control-next{
    background-color: #111;
}

.carousel-item button{
    background: crimson;
    border: 3px solid crimson;
    border-radius: 10px;
}

.carousel-item button a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 800px){
    .carousel{
        margin-top: 50px;
        height: 30%;
        width: 100%;
    }

    .carousel img{
        height:300px;
        width:100%;
        border-radius: 10px;
    }
}

@media (max-width:760px){
    .carousel{
        margin-top: 100px;
    }
}



/* .main .all-projects a{
    font-size: 20px;
    color: #111;
    font-weight: 500;
}

.main .all-projects a:hover{
    color: crimson;
}

.main .all-projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 20%; 
}

@media (max-width: 1000px){
    .main .all-projects{
        display: block;
    }
} */



                /* contact section  */
.contact .aboutme{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}

.contact .home-content{
    margin-bottom: 50px;
}

.contact{
    background-color: rgba(220, 20, 60, 0.116);
    margin-top: 50px;
}

.contact .logo{
    height: 50px;
    width: 50px;
}

.contact .con{
    margin-bottom: 20px;
}

.contact .svg{
    height: 100px;
    width: 50px;
}

.contact-logo{
    height: 50px;
    width: 50px;
    color: aqua;
}

.add{
    display: flex;
    margin-bottom: 50px;
}

.add span{
    font-weight: 500;
    font-size: 20px;
    margin-top: 5px;
    color: crimson;
}

.add span{
    margin-bottom: 10px;
    margin-left: 50px;
}

.con{
    display: flex;
    /* margin-top: 50px; */
}

.con span{
    margin-left: 50px;
    font-size: 20px;
}

.con span a{
    color: crimson;
}

.contact .container{
    margin-top: 100px;
}


@media (max-width:570px){
    .add span{
        margin-bottom: 10px;
        margin-left: 0;
    }
    .con span{
        margin-left: 5px;
        font-size: 20px;
    }
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

